*{
    margin:0;
    padding:0;
}

.navbar-brand{
    color:black !important;
    font-weight: 700;
}
.nav-link{
    
    color:black !important;
}
*{
    box-sizing:border-box;
    
    }
    body{
      margin:0;
    }
    header{
      text-align:center;
      /* font-size:2vw; */
      
      
    }
    h1{
      font-weight:100;
      margin-bottom:0;
    }
    hr{
      margin-bottom:0;
    }
    
    .background{
    
    background-image:url("https://c0.wallpaperflare.com/preview/909/781/67/table-wood-texture-pattern.jpg");
    background-attachment: fixed;
    padding-bottom:9vh;
    }
    .loginbox{
      background-color:grey;
      background-color:rgba(255,255,255,0.2);
      border-radius:12px;
     
     margin:auto;
      width:30vw;
      overflow:hidden;
      
     
    }
    h2{
     
      text-align:center;
      padding:0;
      color:rgb(32,178,170);
      font-size:1.6vw;
      font-family: 'Open Sans', sans-serif;
     font-weight:100;
     }
    
    .innerbox{
      width:27vw;
      margin:auto;
      background-color:white;
      border-radius:12px;
      margin-bottom:4vh;
    
    }
    
    input[type=text]{
      margin-top:9vh;
      margin-left:1.3vw;
      width:22vw;
      box-sizing:borderbox;
      padding: 10px;
      
      
     
    }
    input[type=password]{
      margin-top:9vh;
      margin-left:1.3vw;
      width:22.3vw;
      box-sizing:borderbox;
      padding: 10px 1vw;
      
    }
    input[type=submit]{
      margin-top:5vh;
      margin-left:11vw;
      cursor:pointer;
      margin-bottom:5vh;
      margin-right:20vw;
    }
    .footer h1{
      text-align:center;
    }
      @media only screen and (max-width: 1000px)
    {
      header{
        width:80vw;
      margin:auto;
        font-size:5vw;
    
      
      
    }
    
      hr{
        margin-bottom:0;
      }
      .loginbox{
        width:80vw;
        margin-top:5vh;
        margin:auto;
       
      }
      h2{
     
      text-align:center;
      padding:0;
      color:rgb(32,178,170);
      font-size:5vw;
      font-family: 'Open Sans', sans-serif;
     font-weight:100;
     }
      .innerbox{
        width:70vw;
      }
      input[type=text]{
      margin-top:3vh;
      margin-left:3vw;
      width:48vw;
      box-sizing:borderbox;
      padding: 10px 8vw;
      
     
    }
      input[type=password]{
      margin-top:6vh;
        margin-left:3vw;
      width:48vw;
      box-sizing:borderbox;
      padding: 10px 8vw;
      }
      input[type=submit]{
        margin-left:25vw;
      }
    }
        
    